@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="origen" class="form-label">Origen:</label>
  <input type="number" class="form-control" id="origen" name="origen" placeholder="origen">
  <label for="destino" class="form-label">Destino:</label>
  <input type="number" class="form-control" id="destino" name="destino" placeholder="destino">
  <label for="tiempo_estimado" class="form-label">Tiempo estimado:</label>
  <input type="number" class="form-control" id="tiempo_estimado" name="tiempo_estimado" placeholder="tiempo estimado">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>