@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="modelo" class="form-label">Modelo:</label>
  <input type="text" class="form-control" id="modelo" name="modelo" placeholder="Modelo">
  <label for="cantidadMotores" class="form-label">Cantidad Motores:</label>
  <input type="number" class="form-control" id="cantidadMotores" name="cantidadMotores" placeholder="Cantidad Motores">
  <label for="velocidad" class="form-label">Velocidad:</label>
  <input type="velocidad" class="form-control" id="velocidad" name="velocidad" placeholder="Velocidad">
  <label for="capacidad" class="form-label">Capacidad:</label>
  <input type="capacidad" class="form-control" id="capacidad" name="capacidad" placeholder="Caapacidad">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>