@page
@{
}
 
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Modelo</th>
      <th scope="col">Cantidad Motores</th>
      <th scope="col">Velocidad</th>
      <th scope="col">Capacidad</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Airbus 319</td>
      <td>2</td>
      <td>871</td>
      <td>156</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Airbus A330</td>
      <td>2</td>
      <td>913</td>
      <td>335</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Boeing 737</td>
      <td>2</td>
      <td>952</td>
      <td>126</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Boeing 747</td>
      <td>2</td>
      <td>805</td>
      <td>366</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Airbus A300</td>
      <td>2</td>
      <td>1061</td>
      <td>300</td>
    </tr>     
  </tbody>
</table>