@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="sigla" class="form-label">Sigla:</label>
  <input type="text" class="form-control" id="sigla" name="sigla" placeholder="sigla">
  <label for="nombre" class="form-label">Nombre:</label>
  <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Cantidad Motores">
  <label for="pais" class="form-label">Pais:</label>
  <input type="pais" class="form-control" id="pais" name="pais" placeholder="pais">
  <label for="tipo" class="form-label">Tipo:</label>
  <input type="tipo" class="form-control" id="tipo" name="tipo" placeholder="tipo">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>