@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Fly Emirates</h1>
    <img width="600" height="300" src="https://www.paddleyourownkanoo.com/wp-content/uploads/2020/04/dsc-3579w-129490-scaled.jpg" />
    <p>Vive <a href="https://docs.microsoft.com/aspnet/core">Una Experiencia inolvidable</a>.</p>
</div>
