@page
@{
}
 
<div class="text-center">
<form action="">
  <label for="nombre" class="form-label">Nombres:</label>
  <input type="text" class="form-control" id="nombres" name="nombres" placeholder="Nombres">
  <label for="edad" class="form-label">Apellidos:</label>
  <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
  <label for="email" class="form-label">Email:</label>
  <input type="email" class="form-control" id="email" name="email" placeholder="Email">
  <hr>
  <button type="submit" class="btn btn-success">Enviar</button>
</form>
</div>